{% extends 'front/homeC.html.twig' %}
{% block contenu %}
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Nos Evenements</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Evenements</li>
                        
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="{{asset('front/images/blog/01.png')}}" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Our Blog Start -->
         <section id="our-blog" class="blog has-post-thumbnail gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-4 order-lg-2 order-2">
                     <div id="search-2" class="widget widget_search">
                     <a href="{{ path('app_tri_D') }}" class="button btn-yellow"><i class="fas fa-sort-amount-down"></i>Trier par NbrP</a>
                     </div>
               
                  </div>
                  
                  <div class="col-lg-8 col-md-8 order-lg-1 order-2">
                  <div id="event-container">
                  {% for event in evenements %}
                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                        {% set img = event.photo %}
                           <img src="{{asset(img)}}" class="img-fluid center-block" alt="blogimage0">
                           <ul class="iq-blogtag">
                              <li><a >{{event.nom}}</a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           <div class="iq-blog-meta">
                              <ul>
                                 <li class="list-inline-item">
                                    <p class="main-color" rel="bookmark">{{event.dateevent ? event.dateevent|date('d-m-Y') : '' }}</p>
                                 </li>
                              </ul>
                           </div>
                           <div class="blog-title">
                              
                                 <h5>objet</h5>
                                 <p>{{event.objet}} </p>
                                 <h5>Description</h5>
                                 <p>{{event.description}} </p>
                                 <h5>NB Place</h5>
                                 <p>{{event.nbrplaces}} </p>
                                 <h5>Adresse</h5>
                                 <p>{{event.adresse}} </p>

                           </div>
                           <div class="flex justify-center align-items flex-row">
                              <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('app_ticket_new', {id: event.id})) }}" class="share facebook">
                                  <svg class="w-3 h-3 text-blue-600 fill-current mr-4 icon-facebook" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" style="width: 20px; height: 20px;">
                                      <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
                                  </svg>
                              </a>

                          </div>
                           </div>
                           <a class="button btn-hdr" href="{{path('app_ticket_new',{'id':event.id})}}">Rejoindre Nous</a>

                     </div>
                     {% endfor %}
                     </div>
                     <div id="pagination-container" class="d-flex justify-content-center mt-3" style="color:black">
						           {{ knp_pagination_render(evenements) }}
                     </div>
                     
                  </div>
               </div>
            </div>
         </section>
       <script>
$(document).ready(function() {
						// Set up click event listener for pagination links
						$('#pagination-container').on('click', 'a', function(event) {
						  event.preventDefault();
					  
						  // Get the URL of the next page of results from the pagination link
						  var url = $(this).attr('href');					  
						  // Send an AJAX request to load the next page of results
						  $.ajax({
							url: url,
							type: 'GET',
							success: function(response) {
								console.log(response); // Log the response to the console
							  // Replace the current content with the new content from the AJAX response
							  $('#event-container').html($(response).find('#event-container').html());
							  $('#pagination-container').html($(response).find('#pagination-container').html());
							},
							error: function(jqXHR, textStatus, errorThrown) {
							  console.log('AJAX error: ' + textStatus + ' - ' + errorThrown);
							}
						  });
						});
					  });
       </script>
{% endblock %}
