<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Votre Ticket</title>
	<style>
             body {
            background-color: #CFFCFF;
		    font-family: Arial, sans-serif;
            font-size: 12px;
			;
             }    
		/* Styling for the ticket */
		.ticket {
			 width: 400px;
            height: 200px;
            border: 1px solid black;
            padding: 10px;
            margin: 20px auto;;
		}
	
		.ticket-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
		}

		.ticket-content {
			font-weight: bold;
			

		}
    
	</style>
</head>
<body>
  <img src="{{ imagePath }}" alt="Ticket" style="max-width: 100%; height: auto;">
	<div class="ticket">
		<div class="ticket-header">
			<h1>Votre Ticket</h1>
		</div>
		<div class="ticket-content">
            <p>votre reference : {{ ticket.reference }}</p>
			<p>Date de réservation : {{ ticket.dateReservation|date('d/m/Y') }}</p>
			<p>Nombre de places : {{ ticket.Nbrplace }}</p>
			<p>Événement : {{ ticket.evenements.nom }}</p>
		</div>
	</div>	
</body>
</html>