{% extends 'front/homeC.html.twig' %}
{% block contenu %}
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Vos tickets</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Ticket</li>
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="{{asset('front/images/blog/01.png')}}" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Our Blog Start -->
         <section id="our-blog" class="blog has-post-thumbnail gray-bg">
            <div class="container"> 
               <div class="row">
                  <div class="col-lg-8 col-md-8 order-lg-1 order-2">

                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                         <ul class="iq-blogtag">
                              <li><a ><th>Id</th><td>{{ ticket.id }}</td></a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           
                           <div class="blog-title">
                                 <h5>Id</h5>
                                 <p>{{ ticket.id }}</p>
                                 <h5>Reference</h5>
                                 <p>{{ ticket.reference }}</p>
                                 <h5>DateReservation</h5>
                                 <p>{{ ticket.dateReservation ? ticket.dateReservation|date('Y-m-d') : '' }}</p> 
                       <div class="form-group"><label for="event-name">Nbrplace d'Evènement</label>
                        <div class="form-group">
                         {{  form_start(form.Nbrplace,{'attr': {'novalidate': 'novalidate'}} ) }}
                       {{ form_widget(form.Nbrplace,{'attr':{'class':'form-control'}}) }}
                       {% if form_errors(form.Nbrplace) is not empty %}
                       <div class="alert alert-danger">
                         {{ form_errors(form.Nbrplace) }}
                       </div>
                      {% endif %}
                         <div class="col-auto"><button class="btn btn-falcon-primary btn-sm" role="button">{{button_label|default('Ajouter Evènement ')}}</button></div>
                           <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                          
                         {{form_end(form.Nbrplace)}}
                           </div>
                           </div>
                           

                     </div>
                     <ul class="page-numbers">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="next page-numbers" href="#">Next page</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
 {% endblock %}