{% extends 'front/GestionUtilisateur/home-2.html.twig' %}
{%block navMenu%}
               <ul class="menu-links">
                  <!-- active class -->
                  <li>
                     <a href="{{path('app_landing')}}">Acceuil</a>
                  </li>
                 
               <li><a class="button btn-hdr" href="{{path('app_signup')}}">S'inscrire</a></li>
            </ul>
{%endblock%}
{%block contenu%}

              <div class="main-content">
                <!-- Contact Us Start -->
                <section class="iq-contactus gray-bg">
                   <div class="container">
                      <div class="row">
                         <div class="col-lg-6">
                          <img src="{{asset('front/images/project/02.png')}}" alt="login"></div>
                         <div class="col-lg-6">
                            <div class="title-box  text-left">
                               <span class="text-warning">Bienvenue chez SandBoX</span>
                               <h2 class="title">Changer le mot de passe</h2>
                            </div>
                            {{ form_start(form,{'attr':{'class':'contact-us'}}) }}
                               <div class="row">
                                  <div class="col-xl-12">
                                    {{form_row(form.newPassword,{'attr':{'class':'form-control text'}})}}
                                  </div>   
                                  <br>
                                  <div class="col-xl-12">
                                     <button id="submit" name="submit" type="submit" value="Send" class="button btn-yellow" >{{button_label|default('Confirmer')}}</button>
                                  </div>
                               </div>
                               {{ form_end(form) }}
                         </div>
                      </div>
                   </div>
                </section>
{%endblock%}

