{% extends 'front/GestionUtilisateur/home-2.html.twig' %}
{%block navMenu%}
<ul class="menu-links">
   <!-- active class -->
   <li>
      <a href="{{path('app_landing')}}">Acceuil</a>
   </li>
  
<li><a class="button btn-hdr" href="{{path('app_login')}}">Se Connecter</a></li>
</ul>
{%endblock%}
{%block contenu%}
<div class="main-content">
   <!-- Contact Us Start -->
   <section class="iq-contactus gray-bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <img src="{{asset('front/images/project/02.png')}}" alt="login"></div>
            <div class="col-lg-6">
               <div class="title-box  text-left">
                  <span class="text-warning">Bienvenue chez SandBoX</span>
                  <h2 class="title">Inscription</h2>
               </div>
               {{ form_start(registrationForm,{'attr':{'class':'contact-us','novalidate':'novalidate'}}) }}
                  <div class="row">
                     
                     <div class="col-md-6">
                        <label>Votre Nom<br>
                           <span class="form-control-wrap your-name">
                           {{form_widget(registrationForm.nom,{'attr':{'class':'form-control text','placeholder':'Votre Nom'}})}}
                           {% if form_errors(registrationForm.nom) is not empty %}
                            <div class="alert alert-danger">
                           {{form_errors(registrationForm.nom,{'attr':{'class':'form-control '}})}}   
                            </div> 
                            {% endif %}                    
                        </span>
                        </label>
                     </div>
                     <div class="col-md-6">
                        <label>Votre Prénom<br>
                        <span class="form-control-wrap your-name">
                           {{form_widget(registrationForm.prenom,{'attr':{'class':'form-control text','placeholder':'Votre Prénom'}})}}
                           {% if form_errors(registrationForm.prenom) is not empty %}
                           <div class="alert alert-danger">
                          {{form_errors(registrationForm.prenom,{'attr':{'class':'form-control '}})}}   
                           </div> 
                           {% endif %}      </span>
                        </label>
                     </div>
                     <div class="col-xl-12">
                        <label>Votre E-mail<br>
                        <span class="form-control-wrap your-email">
                           {{form_widget(registrationForm.email,{'attr':{'class':'form-control text','placeholder':'Votre E-mail'}})}}
                           {% if form_errors(registrationForm.email) is not empty %}
                           <div class="alert alert-danger">
                          {{form_errors(registrationForm.email,{'attr':{'class':'form-control '}})}}   
                           </div> 
                           {% endif %}
                        </span>
                        </label>
                     </div>
                     <div class="col-xl-12">
                        <label>votre mot de passe<br>
                        <span class="form-control-wrap your-email">
                           {{form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control text','placeholder':'Votre mot de passe'}})}}
                           {% if form_errors(registrationForm.plainPassword) is not empty %}
                           <div class="alert alert-danger">
                          {{form_errors(registrationForm.plainPassword,{'attr':{'class':'form-control '}})}}   
                           </div> 
                           {% endif %}
                        </span>
                        </label>
                     </div>
                     <div class="col-xl-12">
                        <label>Votre role<br>
                        <span class="form-control-wrap your-name">
                           {{form_widget(registrationForm.role,{'attr':{'class':'form-control text'}})}}
                           {% if form_errors(registrationForm.role) is not empty %}
                           <div class="alert alert-danger">
                          {{form_errors(registrationForm.role,{'attr':{'class':'form-control '}})}}   
                           </div> 
                           {% endif %}
                        </span>
                        </label>
                     </div>
                     <div class="col-xl-12">
                        <label class="form-control-wrap your-email">Vous devriez accepter nos conditions : 
                           {{form_widget(registrationForm.agreeTerms,{'attr':{'class':'form-control text'}})}}
                           {% if form_errors(registrationForm.agreeTerms) is not empty %}
                           <div class="alert alert-danger">
                          {{form_errors(registrationForm.agreeTerms,{'attr':{'class':'form-control '}})}}   
                           </div> 
                           {% endif %}
                        </label>
                     </div>
                     <div class="col-xl-12" style="position: relative;left:73%;">
                        <button type="submit" class="button btn-yellow" >{{button_label|default('S inscrire')}}</button>
                     </div>
                     
                  </div>
                  {{ form_end(registrationForm) }}
            </div>
         </div>
      </div>
   </section>
{%endblock%}
