{% extends 'back/GestionUtilisateur/followers.html.twig'%}
{% block contenu %}
<div class="card card-chat overflow-hidden">
    <div class="card-body d-flex p-0 h-100">
      <div class="chat-sidebar">
        <div class="contacts-list scrollbar-overlay">
          <div class="nav nav-tabs border-0 flex-column" role="tablist" aria-orientation="vertical">
            {% for user in utilisateurs %}
            {% set id=user.id %}
            <div class="hover-actions-trigger chat-contact nav-item" role="tab" id="chat-link-{{id}}" data-bs-toggle="tab" data-bs-target="#chat-0" aria-controls="chat-0" aria-selected="true">
              <div class="d-md-none d-lg-block">
                <div class="dropdown dropdown-active-trigger dropdown-chat">
                    <button class="hover-actions btn btn-link btn-sm text-400 dropdown-caret-none dropdown-toggle end-0 fs-0 mt-4 me-1 z-index-1 pb-2 mb-n2" type="button" data-boundary="viewport" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-cog" data-fa-transform="shrink-3 down-4"></span></button>
                  <div class="dropdown-menu dropdown-menu-end border py-2 rounded-2"><a class="dropdown-item" href="#!">Mute</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item text-danger" href="#!">Delete</a>
                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#!">Mark as Unread</a><a class="dropdown-item" href="#!">Something's Wrong</a><a class="dropdown-item" href="#!">Ignore Messsages</a><a class="dropdown-item" href="#!">Block Messages</a>
                  </div>
                </div>
              </div>
              <div class="d-flex p-3">
                <div class="avatar avatar-xl status-online">
                    {% set img = user.photo%}
                  <img class="rounded-circle" src="{{asset(img)}}" alt="" />
                </div>
                <div class="flex-1 chat-contact-body ms-2 d-md-none d-lg-block">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-0 chat-contact-title">{{user.nom}} {{user.prenom}}</h6><span class="message-time fs--2">Tue</span>
                  </div>
                  <div class="min-w-0">
                    <div class="chat-contact-content pe-3">{{user.role}}</div>
                    <div class="position-absolute bottom-0 end-0 hover-hide"></div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <form class="contacts-search-wrapper">
          <div class="form-group mb-0 position-relative d-md-none d-lg-block w-100 h-100"><input class="form-control form-control-sm chat-contacts-search border-0 h-100" type="text" placeholder="Search contacts ..." /><span class="fas fa-search contacts-search-icon"></span></div><button class="btn btn-sm btn-transparent d-none d-md-inline-block d-lg-none"><span class="fas fa-search fs--1"></span></button>
        </form>
      </div>
      <div class="tab-content card-chat-content">
        <div class="tab-pane card-chat-pane active" id="chat-0" role="tabpanel" aria-labelledby="chat-link-0">
          <div class="chat-content-header">
            <div class="row flex-between-center">
              <div class="col-6 col-sm-8 d-flex align-items-center"><a class="pe-3 text-700 d-md-none contacts-list-show" href="#!">
                  <div class="fas fa-chevron-left"></div>
                </a>
                <div class="min-w-0">
                  <h5 class="mb-0 text-truncate fs-0" id="my-element">Admins SandBoX</h5>
                  <div class="fs--2 text-400">Discussion</div>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-content-body" style="display: inherit;">

            <div class="chat-content-scroll-area scrollbar">
              <div class="text-center fs--2 text-500"><span>Bienvenue</span></div>

              <div id="chat-container"></div>    
     
            </div>
          </div>
        </div>
        <div class="chat-editor-area">
          <input class="emojiarea-editor outline-none scrollbar" contenteditable="true" id="message-input">
          <input class="d-none" type="file" id="chat-file-upload" />
          <label class="chat-file-upload cursor-pointer" for="chat-file-upload">
            <span class="fas fa-paperclip"></span></label>
          <div class="btn btn-link emoji-icon" data-emoji-button="data-emoji-button"><span class="far fa-laugh-beam"></span></div><button class="btn btn-sm btn-send" id="send-id">Send</button>
        </div>
      </div>
      
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    const eventSource = new EventSource("{{ mercure('https://example.com/books/1')|escape('js') }}");
    eventSource.onmessage = event => {
      const data = JSON.parse(event.data);
      console.log(JSON.parse(event.data));
      const message = data.message;
      const id = data.ida;
  
      // Check if the message was sent by the current user
        // Display the message in the chat
        let idc = "{{utilisateur.id}}";
        console.log(id);
        console.log(idc);
        console.log(data.image);
        if(id == idc){
        const $newDiv = $('<div class="d-flex p-3">' +
                          '<div class="flex-1 d-flex justify-content-end">' +
                          '<div class="w-100 w-xxl-75">' +
                          '<div class="hover-actions-trigger d-flex flex-end-center">' +
                          '<ul class="hover-actions position-relative list-inline mb-0 text-400 me-2">' +
                          '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>' +
                          '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>' +
                          '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>' +
                          '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>' +
                          '</ul>' +
                          '<div class="bg-primary text-white p-2 rounded-2 chat-message light">' +
                          message +
                          '</div>' +
                          '</div>' +
                          '<div class="text-400 fs--2 text-end">' +
                          'moi' +
                          '<span class="fas fa-check ms-2 text-success"></span>' +
                          '</div>' +
                          '</div>' +
                          '</div>' +
                          '</div>');
                          $('#chat-container').append($newDiv);
                          }
                          else{
                            const $newDiv = $('<div class="d-flex p-3">' +
                              '<div class="avatar avatar-l me-2">' +
                              '<img class="rounded-circle" src="/'+ data.photo +'" alt="" />' +
                              '</div>' +
                              '<div class="flex-1">'+
                                '<div class="w-xxl-75">' +
                                  '<div class="hover-actions-trigger d-flex align-items-center">' +
                                    '<div class="chat-message bg-200 p-2 rounded-2">' +
                                      message +
                                      '</div> '+
                              '<ul class="hover-actions position-relative list-inline mb-0 text-400 me-2">' +
                              '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Forward"><span class="fas fa-share"></span></a></li>' +
                              '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Archive"><span class="fas fa-archive"></span></a></li>' +
                              '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-edit"></span></a></li>' +
                              '<li class="list-inline-item"><a class="chat-option" href="#!" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"><span class="fas fa-trash-alt"></span></a></li>' +
                              '</ul>' +
                              '</div>' +
                              '<div class="text-400 fs--2">' +
                              data.name +
                              '<span class="fas fa-check ms-2 text-success"></span>' +
                              '</div>' +
                              '</div>' +
                              '</div>' +
                              '</div>');
                              $('#chat-container').append($newDiv);
                          }
        
    }


    $(document).ready(function () {
      $("#send-id").click(function () {
          var tabData = [];
          var message = $("#message-input").val();
          let newId = "{{utilisateur.id}}";
          let name = "{{utilisateur.nom}} {{utilisateur.prenom}}";
          let photo = "{{utilisateur.photo}}";
          let image = $('#chat-file-upload').val()
          tabData.push({
              id: newId,
              msg: message,
              name: name,
              photo: photo,
              image: image,
          });
  
          $.ajax({
              type: "GET",
              url: "{{ path('publish') }}",
              data: { tabData: tabData },
  
              success: function (result) {
                  console.log("result");
                  if (result) {
                    $("#message-input").val(""); // clear input field
                  }
              },
              error: function (xhr, status, error) {
                  console.log("Error: " + error);
              },
          });
      });
  });  
  
  function updateOpacity() {
    // calculate a new opacity value here
    var newOpacity = Math.random();
  
    // update the opacity of the element
    $('#my-element').animate({opacity: newOpacity}, 5);
  }
  
  setInterval(updateOpacity, 500); // call updateOpacity every 5 seconds
  

</script>
<style>
  #my-element {
    opacity: 50;
    transition: opacity 1s ease-in-out;
  }
</style>
{% endblock %}
{%block modal%}
{% endblock %}
