{% extends 'front/homeC.html.twig' %}

   {% block contenu%}

<!-- Header End -->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Votre Contrat</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Contrat</li>
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="{{asset('./front/images/about/09.png')}}" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Pricing Plan Start  -->
         <section class="overview-block-ptb gray-bg">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="title-box  text-center">
                        
                        <h2 class="title">Votre Contrat</h2>
                        
                     </div>
                  </div>
               </div>
                <h1>Contrat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>DateContart</th>
                <td>{{ contrat.dateContart ? contrat.dateContart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DureeContart</th>
                <td>{{ contrat.dureeContart }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ contrat.image }}</td>
            </tr>
            <tr>
                <th>TauxProfit</th>
                <td>{{ contrat.tauxProfit }}</td>
            </tr>
             <td>
                    <a href="{{ path('app_contrat_Pdf', {'id': contrat.id}) }}">pdf</a>
                    
                </td>
        </tbody>
    </table>
          
                
               </div>
            </div>
            <div class="card-body fs--1">
               <div class="row">
               
                  <div class="iq-masonry-item branding">
                     <div class="iq-portfolio">
                        <a href="#" class="iq-portfolio-img"><img src="{{asset('./front/images/logoo.png') }}" class="img-fluid" alt="#"/></a>
                        <div class="iq-portfolio-content">
                           <h6><a href="#">Maher Karoui</a></h6>
                           <a class="button btn-hdr" href="javascript:void(0)">Accepter</a>
                           <a class="button btn-hdr" href="javascript:void(0)">Refuser</a>
                        </div>
                     </div>
                  </div>
                {# end row____________#}
                   
                 
               </div>
             </div>
           </div>
            <div class="scrolling-text top right default">
               <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Nos rendez_vous</div>
            </div>
         </section>
         <!-- Pricing Plan End  -->
         <!-- Project Start -->

         <!--Our Blog End -->

   <!-- Main-Content End -->
      <!-- Footer Start -->

      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% endblock %}