{% extends 'front/homeC.html.twig' %}

   {% block contenu%}

<!-- Header End -->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Nos rendez-vous</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Rendez-vous</li>
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="{{asset('./front/images/about/09.png')}}" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Pricing Plan Start  -->
         <section class="overview-block-ptb gray-bg">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="title-box  text-center">
                        
                        <h2 class="title">Nos rendez-vous</h2>
                        
                     </div>
                  </div>
               </div>

               {{  form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                  <label>
                    Veuillez saisir votre date de rendez-vous :
                      {{ form_widget(form.dateRdv,{'attr':{'class':'form-control'}}) }}
                       {% if form_errors(form.dateRdv) is not empty %}
                       <div class="alert alert-danger">
                         {{ form_errors(form.dateRdv) }}
                       </div>
                      {% endif %}

                  </label>
               
                  <div>
                    <label>
                     Veuillez saisir votre message :
                   {{ form_widget(form.message,{'attr':{'class':'form-control'}}) }}
                       {% if form_errors(form.message) is not empty %}
                       <div class="alert alert-danger">
                         {{ form_errors(form.message) }}
                       </div>
                      {% endif %}
                    </label>
                    
                  </div>
                  <div>
                  
                     <label for="t1">lieu de rendez-vous&nbsp;?
                       
                    {{ form_widget(form.typeLieu,{'attr':{'class':'form-control'}}) }}
                       {% if form_errors(form.typeLieu) is not empty %}
                       <div class="alert alert-danger">
                         {{ form_errors(form.typeLieu) }}
                       </div>
                      {% endif %}
                  </label>
                  
                   <div>
                    <label>
                     Veuillez saisir votre etat :
                   {{ form_widget(form.etat,{'attr':{'class':'form-control'}}) }}
                       {% if form_errors(form.etat) is not empty %}
                       <div class="alert alert-danger">
                         {{ form_errors(form.etat) }}
                       </div>
                      {% endif %}
                    </label>
                    
                  </div>
                  </div>
                 <div class="col-auto"><button class="btn">{{ button_label|default('Save') }}</button></div>               
               {{ form_end(form) }}
               </div>
            </div>
            <div class="card-body fs--1">
               <div class="row">
               
                  <div class="iq-masonry-item branding">
                     <div class="iq-portfolio">
                        <a href="#" class="iq-portfolio-img"><img src="{{asset('./front/images/logoo.png') }}" class="img-fluid" alt="#"/></a>
                        <div class="iq-portfolio-content">
                           <h6><a href="#">Maher Karoui</a></h6>
                           <a class="button btn-hdr" href="javascript:void(0)">Accepter</a>
                           <a class="button btn-hdr" href="javascript:void(0)">Refuser</a>
                        </div>
                     </div>
                  </div>
                {# end row____________#}
                   
                 
               </div>
             </div>
           </div>
            <div class="scrolling-text top right default">
               <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">Nos rendez_vous</div>
            </div>
         </section>
         <!-- Pricing Plan End  -->
         <!-- Project Start -->

         <!--Our Blog End -->

   <!-- Main-Content End -->
      <!-- Footer Start -->

      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% endblock %}